* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  background-color: lightgray;
  height: 100vh;
  padding: 1rem;
}

main {
  border: 1px solid red;
  display: flex;
  width: 70vw;
  margin: 0 auto;
  max-width: 1920px;
  background-color: #fff;
}

.container {
  border: 1px solid green;
  flex-grow: 1;
}

.container h1 {
  background-color: cornflowerblue;
  color: #fff;
  padding: 1rem;
  margin: 0;
}

.right-side {
  max-width: 400px;;
}


