* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App h1 {
  font-size: 1.5rem;
}

.App {
  height: 100vh;
  padding: 1rem;
  width: 70vw;
  max-width: 1920px;
  margin: 0 auto;
}
.main-wrapper {
  border: 1px solid red;
  display: flex;
  background-color: #fff;
}

.section-container {
  border: 1px solid green;
  flex-grow: 1;
}

.section-container h1 {
  background-color: cornflowerblue;
  color: #fff;
  padding: 1rem;
  margin: 0;
}

.right-side {
  max-width: 400px;
  background-color: #dedede;
}

.footer-container {
  text-align: center;
}

.col.loyalty-card {
  max-width: 400px;
}
